Package: com.yulkytulky.taptaptiptaptime
Name: TapTapTipTapTime
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Tap on the time to see the date in the status bar!
Maintainer: YulkyTulky
Author: YulkyTulky
Section: Tweaks
